.contact_container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:50px;
}
.contact ul li{
    font-size:19px;
}
.h3_element{
    font-size:22px;
}
h1{
    text-align:center;
}
.contact_container h2{
    margin-left:38px;
}
.image img{
    width:200px;
    height:200px;
}
@media screen and (max-width:991px){
    .h3_element{
        font-size:21px;
    }
    .contact ul li{
        font-size:18px;
    }
    
}
@media screen and (max-width:767px){
    .h3_element{
        font-size:20px;
    }
    .contact ul li{
        font-size:17px;
    }
}
@media screen and (max-width:575px){
    .h3_element{
        font-size:19px;
    }
    .contact ul li{
        font-size:16px;
    }
}