h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family:'Arial Black', 'sans-serif'
}
h3 {
    font-family: 'Arial', sans-serif;
}
nav a {
    font-family: Trebuchet MS, sans-serif;
}
.dropdown button{
    font-family: Trebuchet MS, sans-serif;
}
p{
    font-family: 'Verdana', sans-serif;
}